parameters:
    database_driver: pdo_sqlsrv
    database_host: 127.0.0.1
    database_port: 1433
    database_name: SGGVFT
    database_user: SGGVFT
    database_password: sggvft
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: es
    secret: ThisTokenIsNotSoSecretChangeIt

    database_driver2: pdo_sqlsrv
    database_host2: 127.0.0.1
    database_port2: 1433
    database_name2: EnterpriseAdminDb
    database_user2: SGGVFT
    database_password2: sggvft
    mailer_transport2: smtp
    mailer_host2: 127.0.0.1
    mailer_user2: null
    mailer_password2: null
    locale2: es
    secret2: ThisTokenIsNotSoSecretChangeIt
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt