{% extends "::base.html.twig" %}

{% block header %}
	 <div id="titulo">
        SISTEMA DE GESTION DE GASTOS PARA VIAJES Y FONDO DE TRABAJO
        <img src="{{ asset('bundles/cajachica/images/estadistica_vect.png') }}" width="45" height="45"/>
    </div>
{% endblock %}


{% block body %}

{% endblock %}

{% block footer %}
    <div id="footer">
		Derechos Reservados &copy;
	</div>
{% endblock %}