{% extends "::base.html.twig" %}
{% block pageid %}cpanel{% endblock %}
{% block header %}
    <div class="navbar navbar-inverse">
    	<div class="container">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="{{ path( 'cajachica_cpanel' ) }}">MENU</a>
			</div>
			<div class="navbar-collapse collapse navbar-inverse-collapse">
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="#">USUARIO: GUSTAVO MACHADO</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="#">AYUDA</a></li>
			      <li><a href="{{ path('cajachica_login') }}">SALIR</a></li>
			    </ul>
			</div>
    	</div>
	</div>
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
	<hr>
	<div class="container">
		<p> &copy; Derechos Reservados. </p>
	</div>
{% endblock %}