{% extends "::base.html.twig" %}
{% block pageid %}cpanel{% endblock %}
{% block header %}
	 <div id="titulo">
    	<button type="button" class="estilo_boton" id="menu">Menu</button>
		<div id="usuario_actual" class="estilo_nom_usu">
			<strong>USUARIO:</strong>NOMBRE
		</div>
		<button type="button" class="estilo_boton" id="ayuda" >Ayuda</button>
		<button type="button" class="estilo_boton" id="salir" >Salir</button>
    </div>
{% endblock %}


{% block body %}

{% endblock %}

{% block footer %}
    <div id="footer">
		Derechos Reservados &copy;
	</div>
{% endblock %}