{% extends "CajachicaBundle::layout_cpanel.html.twig" %}

{% block body %}
    <br><br>Reportes 
<ul>
    {% for list in lists %}
	<li>{{loop.index}}</li>
	{% else %}
	<li>Recurso no encontrado!</li>
    {% endfor %}
</ul>
{% endblock %}