
/* estilos pagina index acesso*/

.index body{
	background-color: #a5cdfe;
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
.index #cuerpo {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	background: white;
	width: 1010px;
	height: 600px;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	background-color: #0050EF;
}

.index #titulo{
	position: absolute;
	background-color: #4193f9;

	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 22px;
	border-bottom: 1px solid #bcc0c4;
	width: 100%;
	padding-top: 15px;
	padding-left: 15px;
}

.index #titulo img {
	position: absolute;
	top: 1px;
	left: 945px;
}
.index #inicio_sesion{
	position: absolute;
	border-bottom: 1px solid #a5adb7;
	width: 300px;
	top: 160px;
	color: white;
	left: 550px;
	font-size: 16px;
}

.index #usu_contra{
	position: absolute;
	width: 300px;
	top: 190px;
	left: 550px;
}
.index #usu_contra input{
	border:solid #a0a0a0 1px;
}
.index .estilo_boton{
	background-color: #0050EF;
	border-right:2px  solid #fff;

	color: #FFF;
	font-size: 10px;
	padding-left:10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	min-width: 100px;
	max-height: 35px;
	-webkit-transition:500ms;

}
.index .estilo_boton:hover{
	background-color: #0140bc;
	-webkit-transition:400ms;
}
.index #footer_usu{
	position: absolute;
	left: 550px;
	top: 355px;
	width: 300px;
	padding-bottom: 15px;
	border-bottom: 1px solid #a5adb7;
}
.index #opciones	{
	position: absolute;
	left: 95px;
	top: -35px;
}
.index #publicidad{
	color: white;
	text-align: center;
	position: absolute;
	width: 400px;
	height: 350px;
	top: 120px;
	left: 60px;
	border-right: 1px solid #a5adb7;
	border-left: 1px solid #a5adb7; 
}
.index #footer{
	position: absolute;
	background-color: white;
	top: 580px;
	font: bold 100% sans-serif;
	font-size: 15;
	border-top: 2px solid #093885;
	width: 100%;
	height: 20px;
	text-align: center;
}

/* estilos paginas cpanel*/
.cpanel body{
	background-color: #a5cdfe;
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-style: none;
}
.cpanel #cuerpo {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	background: white;
	width: 1010px;
	height: 600px;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	background-color: #0050EF;
}
.cpanel #titulo{
	position: absolute;
	background-color: #4193f9;
	color: white;
	font-size: 22px;
	border-bottom: 1px solid #bcc0c4;
	width: 1010px;
	height: 30px;
	top: 0px;
	left: 0px;
}

.cpanel .estilo_boton{
	background-color: #4193f9;
	border-right: 1px solid  #fff;
	border-left: 0px solid #bcc0c4;
	border-top: 0px solid #bcc0c4;
	border-bottom: 0px  solid #bcc0c4;
	color: #FFF;
	font-size: 14px;
	padding-left:10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	width: 100px;
	height: 30px;
	-webkit-transition:500ms;
}

.cpanel button#salir{
	position: relative;
	left: 801px;
	border-right: 0px;
} 
.cpanel button#ayuda{
	position: relative;
	border-left:1px solid  #fff; 
	left: 810px;
	z-index: 1;
} 
.cpanel button#menu{
	position: absolute;
	top: 0px;
}
.cpanel .estilo_boton:hover{
	background-color: #0140bc;
	-webkit-transition:500ms;
}


.cpanel .estilo_nom_usu{
	background-color: #4193f9;
	border-right: 1px solid  #fff;
	border-left: 0px solid #bcc0c4;
	border-top: 0px solid #bcc0c4;
	border-bottom: 0px  solid #bcc0c4;
	color: #FFF;
	font-size: 14px;
	padding-left:10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	min-width: 100px;
	max-height: 30px;
	position: absolute;
	top: 0px;
	left: 100px;
	text-transform: capitalize;
}

.cpanel iframe{
	position: absolute;
	top:31px;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}



/*estilos menu cpanel*/

body.cpanelmenu{
	background-color: #0050EF;
	font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: white;
}
.cpanelmenu #menu-titulo{
	font-size: 25px;
	position: absolute;
	top: 30px;
	left: 20px;
}
.cpanelmenu #contenido_menu{
	position: absolute;
	top: 85px;
	left: 45px;
}
.cpanelmenu #contenido_menu_2{
	position: absolute;
	top: 230px;
	left: 45px;
}
.cpanelmenu .botones_menu_general{
	position: absolute;
	display: block;
	float: left;
	background-color: #525252;
	width: 150px;
	height: 120px;
	cursor: pointer;
	box-shadow: inset 0px 0px 1px #FFFFCC;
	text-decoration: none;
	color: #ffffff;
	position: relative;
	font-size: 9pt;
	letter-spacing: 0.02em;
	line-height: 14pt;
	font-smooth: always;
	margin: 10px 10px 25px 10px;
	overflow: hidden;
	-webkit-transition:500ms;
	border: 0px;
	padding-left: 10px;
}
.cpanelmenu .botones_menu_general p{
	position: absolute;
	margin-top: 35px;
	text-align: left; 
	margin-bottom: 10px;
	bottom: 5px;
}
.cpanelmenu .botones_menu_general img{
	position: absolute;
	top: -35px;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}
.cpanelmenu .botones_menu_general:hover{
	width: 160px;
	height: 130px;
	border: 2px solid white;
	-webkit-transition:500ms;
}

/*estilos solicitud de anticipo nuevo*/
.anticipo #cuerpo{
	background-color: #fff;
}
.anticipo #titulo_nueva_solicitud{
	font-size: 25px;
	position: absolute;
	top: 25px;
	left: 430px;
	text-align: center;
}
.anticipo #tabla_gastos{
	position: absolute;
	top: 80px;
	left: 280px;
	border-top: 1px solid #000000 ;
	border-right: 2px solid #000000 ;
	border-bottom: 2px solid #000000 ;
	border-left: 1px solid #000000 ;
	padding: 10px;
	box-shadow: 2px 2px 2px #ffc;
	-webkit-box-shadow: 2px 2px 2px #ffc;
	-moz-box-shadow: 2px 2px 2px #ffc;
	height: 320px;
	width: 650px;
}
.anticipo #fecha_solicitud{
	position: absolute;
	top: 60px;
	left: 10px;
	width: 200px;
}
.anticipo #fecha_solicitud img{
	position: absolute;
	top: 91px;
	right: 0;
}
.anticipo #fecha_solicitud input[type="text"][class="fecha"]{ 
	width: 10em; 
}
.anticipo #tabla_gastos input[type="text"][class="cantidad"]{ 
	width: 8em; 
}
.anticipo #prinicipal  input{ 
	background-color: white;
}
.anticipo #tabla_gastos input[type="text"][class="cantidad2"]{ 
	width: 3em; 
}
.anticipo #boton_gastos{
	width: 30px;
	height: 30px;
}
.anticipo #agregar_gastos{
	position: absolute;
	left: 350px;
	top: 55px;
}
.anticipo #opciones{
	position: absolute;
	top: 440px;
	left: 360px;
	width: 305px;
	height: 30px;
}
.anticipo #tabla_cant_mont_total{
	width: 600px;
	height: 21px;
}
.anticipo #tabla_cant_mont_total button{
	position: absolute;
	top: 48px;
}
.anticipo #cod_tgastos{
	width: 600px;
	height: 21px;
}
.anticipo #cod_tgastos img{
	position: absolute;
	top: -0px;
}
.anticipo #tablas_gastos{
	position:absolute;
	width:630px;
	height:230px;
	z-index:1;
	overflow: auto;
}
.anticipo .ExcelTable2007 {
	border: 1px solid #B0CBEF;
	border-width: 1px 0px 0px 1px;
	font-size: 11pt;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 630px;
}
.anticipo .ExcelTable2007 TH {
	background-image: url(excel-2007-header-bg.gif);
	background-repeat: repeat-x; 
	font-weight: normal;
	font-size: 14px;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
	height: 17px;
}
.anticipo .ExcelTable2007 TD {
	border: 0px;
	background-color: white;
	padding: 0px 4px 0px 2px;
	border: 1px solid #D0D7E5;
	border-width: 0px 1px 1px 0px;
}
.anticipo .ExcelTable2007 TD B {
	border: 0px;
	background-color: white;
	font-weight: bold;
}
.anticipo .ExcelTable2007 TD.heading {
	background-color: #E4ECF7;
	text-align: center;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
}
.anticipo .ExcelTable2007 TH.heading {
	background-image: url(excel-2007-header-left.gif);
	background-repeat: none;
}
.anticipo .ExcelTable2007 TR:hover td{
	background-color: #E4ECF7;
	-webkit-transition:500ms;
}
.anticipo .estilo_boton{
	background-color: #4193f9;
	border-right: 0px solid  #bcc0c4;
	border-left: 0px solid #bcc0c4;
	border-top: 0px solid #bcc0c4;
	border-bottom: 0px  solid #bcc0c4;
	color: #FFF;
	font-size: 14px;
	padding-left:10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	width: 100px;
	height: 30px;
	-webkit-transition:500ms;
}
.anticipo button#agregar{
	position: absolute;
	width: 70px;
	height: 25px;
	padding-top: 2px;
}
.anticipo button#atras{
	position: relative;
	border-right: 0px;
} 
.anticipo button#cancelar{
	position: relative;
	border-left:1px solid  #ffffff; 
	left: -5px;
	z-index: 1;
} 
.anticipo button#procesar{
	position: absolute;
	left:198;
	border-left:1px solid  #ffffff; 
	top: 0px;
	z-index: 1;	
}
.anticipo .estilo_boton:hover{
	background-color: #0140bc;
	-webkit-transition:500ms;
}
