
/* estilos pagina index acesso*/

body{
	background-color: #a5cdfe;
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

body.bg-white{
	background-color: white;
}