{% extends "CajachicaBundle::layout_cpanel.html.twig" %}
{% block body %}
<ol class="breadcrumb">
	<li><a href="{{ path( 'cajachica_cpanel' ) }}">Menu</a></li>
	<li class="active">Creación de Fondo Fijo</li>
</ol>
{% endblock %}