{% extends "CajachicaBundle::layout_cpanel.html.twig" %}

{% block body %}
<br>
<br>
<br>
<br>

<div class="list-group">
	<a href="{{ url('anticipos_nuevo') }}" class="list-group-item "> Nueva Solicitud </a>
	<a href="{{ url('anticipos_lista') }}" class="list-group-item">Listar Solicitud</a>
	<a href="#" class="list-group-item">Soporte</a>
</div>

{% endblock %}
{% block footer %} {% endblock %}