{% extends "CajachicaBundle::layout_cpanel.html.twig" %}

{% block pageid %}bg-white{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ path( 'cajachica_cpanel' ) }}">Menu</a></li>
		<li><a href="{{ path( 'cpanel_anticipos' ) }}">Solicitud de Anticipos</a></li>
		<li class="active">Lista de Anticipos</li>
	</ol>
{% endblock %}