{% extends "CajachicaBundle::layout_cpanel.html.twig" %}
{% block pageid %}cpanel anticipo{% endblock %}
{% block head_javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/cajachica/js/view/nueva-solicitud.js')}}"></script>
{% endblock %}
{% block body %}
	<div id="titulo_nueva_solicitud">
		Nueva Solicitud
	</div>
	<div id="prinicipal">
		<div id="fecha_solicitud">
			<label for="fecha_solicitud">Fecha de Solicutud: <span class="required">*</span></label>
		    <input type="date" id="name" name="fecha_solicitud" required="required" autofocus="autofocus" class="form-control" />
			<br><br>
			<label for="destino">Destino: <span class="required">*</span></label>
			<input  id="pais" name="destino" value="" placeholder="Pais"   type="text" size="15" disabled required="required" class="form-control"/>
			<a href="#" onclick="elegir_destino();"><img src="{{ asset('bundles/cajachica/images/destino.png') }}" width="30" height="30" /></a>
			<br>
			<input  id="estado" name="destino" value="" placeholder="Estado"  type="text" size="15" disabled required="required" class="form-control"/>
			<br>
			<input  id="ciudad" name="destino" value="" placeholder="Ciudad"  type="text" size="15" disabled required="required" class="form-control"/>
			<br>
			<input  id="lugar" name="destino" value="" placeholder="Lugar"  type="text" size="15"  required="required" class="form-control"/>
			<br>
			<input  id="punto_referencia" name="destino" value="" placeholder="Punto de Referencia"  type="text" size="15"  class="form-control" />
			<br>
			<label for="descripcion">Descripción: <span class="required">*</span></label>
			<textarea id="descripcion" name="descripcion" required="required" rows="4" cols="50" placeholder="Descripción Solicitud" class="form-control"></textarea>
		</div>
		<div id="tabla_gastos">
			<form id="validar_datos_gastos" name="validar_datos_gastos" class="form-horizontal">
				<div class="row" >
					<div class="col-md-5">
						<div class="form-group">
							<label for="" class="control-label col-md-4"> Codigo: </label>
							<div class="col-md-8">
								<input  id="Cod_gasto" value=""  type="text" size="5" disabled required class="cantidad form-control input-sm"/>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label for="" class="control-label col-md-6"> Tipo de Gasto: </label>
							<div class="col-md-6">
								<input  id="Descrip_gasto" value=""  type="text" size="15"disabled required class="form-control input-sm"/>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<a href="#" onclick="elegir_gasto(); return false;"><img src="{{ asset('bundles/cajachica/images/gastos.png') }}" width="30" height="30" /></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="" class="control-label col-md-6"> Cantidad: </label>
							<div class="col-md-6">
								<input id="cantidad" value=""  type="text" size="50" onKeyUp="totalizar();" required class="cantidad2 form-control input-sm"/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="" class="control-label col-md-7"> Monto Unit: </label>
							<div class="col-md-5">
								<input id="Precio_unit" value=""  type="text" size="50" disabled="true" required class="cantidad form-control input-sm"/>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="" class="control-label col-md-6"> Total: </label>
							<div class="col-md-6">
								<input id="Total" value=""  type="text" size="50" disabled="true" required class="cantidad form-control input-sm"/>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<button type="button" class="estilo_boton" id="agregar"  onClick="agregar_fila_gastos();">Agregar</button>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-md-12">
					<div id="tablas_gastos">
						<table class="ExcelTable2007" border="0" cellspacing="0" cellpadding="0"  >
							<thead height="100">
								<tr>
									<th width="25" class="heading" scope="col"></th>
									<th width="50" scope="col">Cod.</th>
									<th width="230" scope="col">Descipcion Gasto</th>
									<th width="40"  scope="col">Cant.</th>
									<th width="100"  scope="col">Unit.</th>
									<th width="150"  scope="col" >Total</th>
									<th width="40" scope="col"> Descartar</th>
								</tr>
							</thead>
							<tbody id= "tbody_gastos">
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="opciones">
				<button type="button" class="estilo_boton" id="atras"  onClick="agregar_fila_gastos();">Atras</button>
				<button type="button" class="estilo_boton" id="cancelar"  onClick="agregar_fila_gastos();">Cancelar</button>
				<button type="button" class="estilo_boton" id="procesar"  onClick="guardar_solicitud();">Procesar</button>
			</div>
		</div>

		<div id="contenido_modal" style="display:none;" width="830" height="590">
		</div>
	</div>
{% endblock %}